<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("./partials/navbar", {links}) %> <%-
    include("./partials/errors") %>
    <h1><%= title %></h1>
    <ul>
      <% inventory.forEach((item) => { %>
      <li>
        id: <%= item.id %>; name: <%= item.name %>; type: <%= item.type %>;
        value: <%= item.value %>; weight: <%= item.weight %>;
        <a href="/<%= item.id %>/update">Update</a>
        <form action="/<%= item.id %>/delete" method="POST">
          <button
            type="submit"
            onclick="return confirm('Are you sure this item no longer belongs?');"
          >
            Delete
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
