<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("./partials/navbar", {links}) %> <%-
    include("./partials/addPotion", {potionTypes}) %>
    <h1><%= title %></h1>
    <ul>
      <% potions.forEach((potion) => { %>
      <li>
        id: <%= potion.shop_inventory_id %>; name: <%= potion.name %>; potion
        type: <%= potion.potion_type_id %>; duration(seconds): <%=
        potion.duration_seconds %>;
        <a href="/<%= potion.id %>/update">Update</a>
        <form action="/<%= potion.id %>/delete" method="POST">
          <button
            type="submit"
            onclick="return confirm('Are you sure this potion no longer belongs?');"
          >
            Delete
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
