<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("./partials/navbar", {links}) %> <%-
    include("./partials/addTome", {spellTypes, spellSchools}) %>
    <h1><%= title %></h1>
    <ul>
      <% tomes.forEach((tome) => { %>
      <li>
        id: <%= tome.shop_inventory_id %>; name: <%= tome.name %>; spell type:
        <%= tome.spell_type_id %>; spell school: <%= tome.spell_school_id %>;
        mana cost: <%= tome.mana_cost %>;
        <a href="/<%= tome.id %>/update">Update</a>
        <form action="/<%= tome.id %>/delete" method="POST">
          <button
            type="submit"
            onclick="return confirm('Are you sure this tome no longer belongs?');"
          >
            Delete
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
