<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("./partials/navbar", {links}) %> <%-
    include("./partials/addWeapon", {weaponTypes, affinityTypes}) %>
    <h1><%= title %></h1>
    <ul>
      <% weapons.forEach((weapon) => { %>
      <li>
        id: <%= weapon.shop_inventory_id %>; name: <%= weapon.name %>; weapon
        type: <%= weapon.weapon_type_id %>; damage: <%= weapon.damage %>;
        durability: <%= weapon.durability %>; affinity: <%=
        weapon.affinity_type_id %>;
        <a href="/<%= weapon.id %>/update">Update</a>
        <form action="/<%= weapon.id %>/delete" method="POST">
          <button
            type="submit"
            onclick="return confirm('Are you sure this weapon no longer belongs?');"
          >
            Delete
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
