<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("./partials/navbar", {links}) %> <%-
    include("./partials/addWeapon") %>
    <h1><%= title %></h1>
    <ul>
      <% weapons.forEach((item) => { %>
      <li>
        id: <%= item.shop_inventory_id %>; name: <%= item.name %>; weapon type:
        <%= item.weapon_type_id %>; damage: <%= item.damage %>; durability: <%=
        item.durability %>; affinity: <%= item.affinity_type_id %>;
        <a href="/<%= item.id %>/update">Update</a>
        <form action="/<%= item.id %>/delete" method="POST">
          <button
            type="submit"
            onclick="return confirm('Are you sure this item no longer belongs?');"
          >
            Delete
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
